* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Your Arabic Font', Arial, sans-serif;
}

.carousel-item img {
  width: 100%;
}

.carousel {
  position: relative;
}

.carousel-caption {
  position: absolute;
}

.background {
  background-image: url('images/40.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 10px #000;
  background-image: url(images/alm.png);
}


.grids {
  display: none;
}

.grid1,
.grid2,
.grid3,
.grid4 {
  align-items: end;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  background-size: contain;
  display: flex;
  border: solid 10px #000;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid1::before,
.grid2::before,
.grid3::before,
.grid4::before {
  content: "";
  position: absolute;
  top: 50%;
  color: #ffff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.grid1::before {
  content: "تاريخ فلسطين";
}

.grid2::before {
  content: "الدين وفلسطين";
}

.grid3::before {
  content: "بين الماضي والحاضر";
}

.grid4::before {
  content: "  ثقافة وتراث فلسطين";
}

.grid1 {
  background-image: url(images/download.jpeg);
  left: 60px;
  bottom: 10px;
}

.grid2 {
  top: 10px;
  left: 60px;
  background-image: url(images/Religious.jpg);
}

.grid3 {
  background-image: url(images/after.jpg);
  bottom: 10px;
  right: 50px;
}

.grid4 {
  background-image: url(images/culture.jpg);
  top: 10px;
  right: 50px;
}

.home-link,
.qadyaty-link {
  height: 100%;
  top: 80%;
  left: 50%;
  text-align: center;
  position: absolute;
}

.fa-house,
.footer a {
  color: green;
}

.fa-house:hover {
  color: #000000;
}

.history-page {
  background-image: url('images/1.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.culture-page {
  background-image: url('images/614.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.layerculture,
.header-history {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.63);
}

.content-history {
  position: absolute;
  color: white;
}

.content-history h1 {
  text-align: center;
  font-size: 3em;
}



.overlap {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(245, 245, 245);
  padding: 50px 20px;
  width: 80%;
}

.overlap .titlepage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.content-history-1 h2,
p,
h3,
h4,
.contentsection4_2 {
  margin: 25px 0px;
}

.content-history-1 h2 {
  margin: 30px 0px;
}

.content-history-1 span {
  color: #ce200c;
}

.content-history-1 img {
  margin: 0% 10%;
  width: 80%;
}

.content-history-1 h2,
h3,
h4 {
  color: rgb(0, 0, 0);
}

.culture-image img {
  width: 30% !important;
}

.box-history,
.box-culture {
  background-color: rgb(250, 250, 250);
  margin: 5%;
  padding: 2%;
}

.content_box-history,
.content-box-culture {
  width: 60%;
  float: right;
}

.under-box {
  width: 40%;
  float: right;
}

.clr {
  clear: both;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 10px;
}

.footer a:hover {
  color: #000000;
}

.footer a {
  text-decoration: none;
}

.header-page-religious {
  background: #8E0E00;
  background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);
  background: linear-gradient(to top, #1F1C18, #8E0E00);
  color: #ffff;
}

.header-page-religious h1,
.content-culture {
  height: 40vh;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-religious {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 80%;
  background: #8e0e00;
  background: -webkit-linear-gradient(to bottom, #342121, #8e0e00);
  background: linear-gradient(to top, #ed8585, #8e0e00);
}

.page-religious {
  text-align: center;
}

.image-divide-history img {
  width: 400px !important;
  height: 400px;
  margin: 10px;
}

.image-divide-history {
  display: flex;
}

.image-history-side-1,
.image-history-side-2,
.content-between-image {
  width: 33.33;
}

.page-religious .content-religious h2 {
  margin: 15px;
}

.content-religious video {
  width: 90%;
}

.content-between-image {
  width: 100%;
}

.content-between-image h2 {
  color: #000;
}

.end-section-history {
  width: 90%;
  margin: auto;
}

.overlap img {
  width: 100%;
}

.home-link-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serction3_2 p,
h3 {
  text-align: right;
  margin-top: 30px;
}

.section3_1 {
  width: 70%;
  margin: auto;
}

.serction3_2 img {
  width: 100%;
  text-align: justify;
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

#image-container img {
  margin: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .under-box {
    width: 100%;
  }

  .content_box-history,
  .content-box-culture {
    width: 100%;
  }

  .image-divide-history {
    display: flex;
    flex-direction: column;
  }

  .image-divide-history img,
  .box-culture {
    width: 100% !important;
  }

  .culture-image img {
    width: 100% !important;
  }

  .main-icon,
  .grid1,
  .grid2,
  .grid3,
  .grid4 {
    width:200px;
    height: 200px;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footer a {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
